@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Surgery On Sunday – Louisville, Inc. provides outpatient surgical and endoscopic procedures to patients
    who are within 250% of the current federal poverty line, have medical need, are symptomatic and/or in a
    high risk healthcare category (such as family history), and are uninsured or underinsured.
    Our licensed physicians, medical and non-clinical support staff,  and healthcare partners provide
    all services on a volunteer basis. Our patients never see a bill. We are a non-profit organization  based in Louisville, KY. Our program was founded in
    2013 by a group of passionate medical professionals and members of the Louisville community.

</p>

</p>


    Claire Misbach Simms serves as Corporate Responsibility Manager for LG&E and KU Energy, LLC.
    Simms comes to LG&E after ten years spent at Fund for the Arts in various fundraising roles.
    Simms earned her B.A. in English from Bellarmine University in 2005 and her MBA from Bellarmine in 2013.
    Simms is a graduate of the Leadership Louisville Ignite Program and serves as a member of the Board of Directors of Surgery on Sunday – Louisville, Inc. and the Main Street Association.
</p>

</p>

    Shawn Stevison, CPA, CHC, CGMA, CRMA is the Manager of Healthcare Consulting Services for Dean Dorton Allen Ford, PLLC.
    She is an audit and compliance professional with over 15 years of experience in healthcare, including 11 years of compliance focus.
    She focuses her practice in regulatory compliance and risk mitigation for hospitals, inpatient rehabilitation, skill nursing facilities, home health agencies, ambulatory surgery centers, diagnostic testing facilities, and physician practices.
</p>
    




