
@{
    ViewBag.Title = "Get Help";
}

<center>
    <h2>Get Help</h2>
    <font size="10">
        <div style="color: #FF0000;">Surgery on Sunday Louisville, Inc. is here to help.</div>
    </font>
</center>

<hr style="border-color:#FF0000;">
<center>
    <h3>Partner Clinics</h3>
    <h4>
        <img data-attachment-id="318" data-permalink="http://www.soslouisville.org/get-help-2/partner-clinics/digital-imaging-specialist-2/" data-orig-file="https://i2.wp.com/www.soslouisville.org/wp-content/uploads/2017/08/Digital-Imaging-Specialist-2.png?fit=1080%2C1080" data-orig-size="1080,1080" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="Digital Imaging Specialist-2" data-image-description="" data-medium-file="https://i2.wp.com/www.soslouisville.org/wp-content/uploads/2017/08/Digital-Imaging-Specialist-2.png?fit=300%2C300" data-large-file="https://i2.wp.com/www.soslouisville.org/wp-content/uploads/2017/08/Digital-Imaging-Specialist-2.png?fit=740%2C740" class="aligncenter wp-image-318 size-full" src="https://i2.wp.com/www.soslouisville.org/wp-content/uploads/2017/08/Digital-Imaging-Specialist-2.png?resize=740%2C740" alt="" srcset="https://i2.wp.com/www.soslouisville.org/wp-content/uploads/2017/08/Digital-Imaging-Specialist-2.png?w=1080 1080w, https://i2.wp.com/www.soslouisville.org/wp-content/uploads/2017/08/Digital-Imaging-Specialist-2.png?resize=150%2C150 150w, https://i2.wp.com/www.soslouisville.org/wp-content/uploads/2017/08/Digital-Imaging-Specialist-2.png?resize=300%2C300 300w, https://i2.wp.com/www.soslouisville.org/wp-content/uploads/2017/08/Digital-Imaging-Specialist-2.png?resize=768%2C768 768w, https://i2.wp.com/www.soslouisville.org/wp-content/uploads/2017/08/Digital-Imaging-Specialist-2.png?resize=1024%2C1024 1024w, https://i2.wp.com/www.soslouisville.org/wp-content/uploads/2017/08/Digital-Imaging-Specialist-2.png?resize=100%2C100 100w" sizes="(max-width: 767px) 89vw, (max-width: 1000px) 54vw, (max-width: 1071px) 543px, 580px" width="517" height="517">
    </h4>
</center>
<p> Surgery on Sunday Louisville, Inc. (SOSL) partners with several clinics in the Greater Louisville area to ensure that our patients have access to quality care. All SOSL patients are required to have medical homes that is, they must have a medical center they can regularly go to in order to receive primary care. If you are a patient who is in need of SOSL services and do not have a medical home, please contact one of the below clinics and they will be happy to assist you. Each clinic is different, but you may qualify for free or sliding-scale-fee care depending on your financial situation.</p>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
        }

        /* Create three equal columns that floats next to each other */
        .column {
            float: left;
            width: 33.33%;
            padding: 10px;
            height: 300px; /* Should be removed. Only for demonstration */
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>
<body>
    <center>
        <div style="color:#FF0000;">
            <h2>Kentucky</h2>
        </div>
        <div class="row">
            <div class="column" style="background-color:#fff;">
                <h2>Louisville</h2>

                <hr style="border-color:#FF0000;">

                <p><a href="http://www.pdchc.org">Park DuValle Community Health Center</a></p>
                <p><a href="http://shawneechristianhealth.org">Shawnee Christian Healthcare Center</a></p>
                <p><a href="http://www.fhclouisville.org">Family Health Centers Louisville</a></p>
                <p><a href="http://famcomclinic.org">Family Community Clinic</a></p>
            </div>
            <div class="column" style="background-color:#fff;">
                <h2>LaGrange</h2>

                <hr style="border-color:#FF0000;" />

                <p><a href="http://hopehealthclinicky.com">Hope Health Clinics</a></p>
            </div>
            <div class="column" style="background-color:#fff;">
                <h2>Shelbyville</h2>

                <hr style="border-color:#FF0000;" />

                <p><a href="http://www.freeclinics.com/det/ky-mercy_medical_clinic_shelbyville">Mercy Medical Clinic</a></p>
            </div>
        </div> 
        <div class="row">
            <div class="column" style="background-color:#fff;">
                <h3>Southern Indiana</h3>

                <hr style="border-color:#FF0000;">

                <p><a href="http://www.fhcenters.org">Family Health Centers of Sourthern Indiana</a></p>
            </div>
        </div>
    </center>
</body>
