@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    @*<h1>Surgery on Sunday</h1>*@
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="max-height: 700px; overflow: hidden;">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active" style="width: 100%; height: auto;">
                <img src="~/photos/photo1.jpg" alt="" style="width: 100%;">
            </div>

            <div class="item" style="width: 100%; height: auto;">
                <img src="~/photos/picsurgeon.jpg" alt="" style="width: 100%;">
            </div>

            <div class="item" style="width: 100%; height: auto;">
                <img src="~/photos/picgroup2.jpg" alt="" style="width: 100%;">
            </div>
        </div>

        <!-- Icons -->
        <div class="center carousel-control" href="#myCarousel">
            <a class="center navbar-brand" href="#" style="opacity: 1;">
                <img alt="Brand" src="~/icons/Facebook-Icon.png">
            </a>
            <a class="center navbar-brand" href="#" style="opacity: 1;">
                <img alt="Brand" src="~/icons/Instagram-Icon.png">
            </a>
            <a class="center navbar-brand" href="#" style="opacity: 1;">
                <img alt="Brand" src="~/icons/Twitter-Icon.png">
            </a>
            <a class="center navbar-brand" href="#" style="opacity: 1;">
                <img alt="Brand" src="~/icons/Youtube-Icon.png">
            </a>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h1 class="panel-title">We are Surgery on Sunday Louisville, Inc.</h1>
            </div>
            <div class="panel-body">
                <p style="font-size:large; text-indent:20px">
                    Surgery On Sunday – Louisville, Inc. provides outpatient surgical and endoscopic procedures to patients who are within 250% of the current federal poverty line, have medical need, are symptomatic and/or in a high risk healthcare category (such as family history), and are uninsured or underinsured.  Our licensed physicians, medical and non-clinical support staff,  and healthcare partners provide all services on a volunteer basis.  Our patients never see a bill. We are a non-profit organization based in Louisville, KY. Our program was founded in 2013 by a group of passionate medical professionals and members of the Louisville community.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FSurgeryOnSundayLouisville&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    </div>
    <div class="col-md-4" style="height:500px;">
        <a class="twitter-timeline" data-width="340" data-height="500" data-theme="dark" href="https://twitter.com/soslouisville?ref_src=twsrc%5Etfw">Tweets by soslouisville</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-md-4" style="height:500px;">
        <div class="panel panel-default" style="height:500px;">
            <div class="panel-heading">
                <img src="~/photos/ig.jpg" alt="" style="width: 100%;">
            </div>
            <div class="panel-body">
                <!-- LightWidget WIDGET -->
                <script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/5f28bbdb5472526ca2fad3a0ab09f17d.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/oePBye4vrnA?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h2 class="panel-title">Subscribe to our quarterly mailing list!</h2>
            </div>
            <div class="panel-body">
                <div class="input-group" style="padding:10px;">
                    <span class="input-group-addon" id="basic-addon1">Email Address*</span>
                    <input type="text" class="form-control" placeholder="..." aria-describedby="basic-addon1">
                </div>
                <div class="input-group" style="padding:10px;">
                    <span class="input-group-addon" id="basic-addon1">First Name</span>
                    <input type="text" class="form-control" placeholder="..." aria-describedby="basic-addon1">
                </div>
                <div class="input-group" style="padding:10px;">
                    <span class="input-group-addon" id="basic-addon1">Last Name</span>
                    <input type="text" class="form-control" placeholder="..." aria-describedby="basic-addon1">
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-default">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
</div>