
@{
    ViewBag.Title = "Event";
}
<div class="container" style="padding-top:30px">
    <div class="row col-md-offset-1">
        <iframe src="https://calendar.google.com/calendar/embed?height=500&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=8mfneea1t5ov76d6rqh65hia80%40group.calendar.google.com&amp;color=%23711616&amp;ctz=America%2FNew_York" style="border-width:0" width="1000" height="750" frameborder="0" scrolling="no"></iframe>
    </div>
</div>
