@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "PatientReferral";
}

<div class="container" style="padding-top:30px">
    <div class="row" style="align-content:center;">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h1 class="panel-title">Patient Referral</h1>
                </div>
                <div class="panel-body text-center">
                    <p style="font-size:medium; color:dimgrey">
                        Patient referrals to Surgery on Sunday Louisville may be made by any licensed healthcare provider through that provider’s office, <br />
                        or by a registered health entity (such as a physician’s office or a community clinic). <br /> <br />

                        If you are in need of access to our patient referral system, please send an email to <a href="mailto:info@soslouisville.org"><span style="color: #0645AD;">info@soslouisville.org</span></a> on your office’s letterhead <br />
                        and someone from our organization will contact you within five business days to provide to you the logon credentials.
                    </p>
                    <br />
                    <p style="font-size:medium; color:dimgrey">
                        For a list of information we need to accept patient referrals, <a href="http://www.soslouisville.org/wp-content/uploads/2018/01/Referral-Questions.pdf"><span style="color: #0645AD;">click here.</span></a>
                    </p>
                    <p style="font-size:medium; color:dimgrey">
                        If you already have the login information for our referral portal, <a href="http://www.soslouisville.org/refer-a-patient/">
                            <span style="color: #0645AD;">click here. </span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
