
@{
    ViewBag.Title = "MedicalInterpreterForm";
}
<div class="banner">
    <img class="banner-image" src="~/photos/heart.jpg" alt="" style="width: 100%; height:350px">
</div>

<div class="container" style="padding-top:30px">
    <div class="row" style="align-content:center;">
        <div class="grid-100 clearfix" style="text-align:center">
            <h4 id="registration_form_title">Medical Interpreter Volunteer Form </h4>
        </div>

        <br />

        <!-- Main form -->
        <form>
            <div class="row">
                <div class="form-group col-md-4">
                    <label>
                        <abbr title="required">*</abbr> First Name
                    </label>
                    <input required="required" class="form-control" type="text" /><br />
                    <label>
                        <abbr title="required">*</abbr> Last Name
                    </label>
                    <input required="required" class="form-control" type="text" /><br />
                    <label>
                        <abbr title="required">*</abbr> Birthday
                    </label>
                    <input required="required" class="string required datepicker form-control" size="75" type="text" /> <br />
                    <label>Preferred Name</label>
                    <input class="string optional form-control" size="75" type="text" />

                </div>
                <br />
                <div class="form-group col-md-4">
                    <label>
                        <abbr title="required">*</abbr> Address
                    </label>
                    <input required="required" class="form-control" type="text" /><br />
                    <label>
                        <abbr title="required">*</abbr> City
                    </label>
                    <input required="required" class="form-control" type="text" /><br />
                    <label>
                        <abbr title="required">*</abbr> Postal Code
                    </label>
                    <input required="required" class="form-control" type="text" /> <br />

                    <label>
                        <abbr title="required">*</abbr> Mobile Phone
                    </label>
                    <input required="required" class="string tel required form-control" type="tel" />
                </div>

                <div class="form-group col-md-4">
                    <label>* What/which languages can you interpret for? </label>
                    <br />

                    <input type="hidden" value="" />
                    <select class="multi-select required form-control" multiple="multiple">
                        <option value="Spanish">Spanish</option>
                        <option value="Hindi">Hindi</option>
                        <option value="Arabic">Arabic</option>
                        <option value="Other">Other</option>
                    </select> <br />

                    <label>Employer</label>
                    <input class="string optional form-control" size="75" type="text" /> <br />

                    <label>
                        <abbr title="required">*</abbr> Email
                    </label>
                    <input required="required" class="string email required form-control" type="email" value="" />

                </div>
            </div>
            <br />
            <div class="row" style="align-content:center; text-align:center;">
                <button type="button" class="btn btn-info">Submit</button>
            </div>
        </form>
    </div>
</div>