
@{
    ViewBag.Title = "PhysVolForm";
}

<html>

<body>
    <br />
    <br />
    <br />

    <div class="grid-100 clearfix">
        <h1 id="registration_form_title">Physician Volunteer Form</h1>
    </div>

    <p>
        Surgery on Sunday Louisville independently credentials each of its physician volunteers following
        the method developed by The Joint Commission. That process requires us to query physician information
        through the National Practitioner Database, a service provided by the United States Department of Health
        and Human Services. Completion of this form serves as the agreement of the volunteer to allow Surgery on
        Sunday Louisville to perform such query. Questions about this process can be directed to info@soslouisville.org.
    </p>

    <!-- Main form -->
    <div class="grid-50 tablet-grid-50 mobile-grid-100">
        <div class="infoCard formPanel campaignInfo">
            <form class="simple_form new_registration" id="new_registration" enctype="multipart/form-data" action="/public/registrations" accept-charset="UTF-8" method="post">
                <input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="dPECfHZjc/NadegP4U9o9MyH+wBixWccmjSbwtP0fHwGqE7N5if3pweMyOxJdXcI3lf2/95Cjzoxa6+RSRTvig==" />

                <h2 id="registration_form_heading"></h2>

                <div id="error_explanation">
                    <ul></ul>
                </div>

                <input type="hidden" value="976f3995-43f5-4496-b0cb-0a3fdb2258ec" name="registration[registration_form_id]" id="registration_registration_form_id" />


                <input type="hidden" value="2496" name="registration[person_attributes][organization_id]" id="registration_person_attributes_organization_id" />


                <div class="control_row">
                    <div class="control-group string required registration_person_first_name"><label class="string required control-label" for="registration_person_attributes_first_name"><abbr title="required">*</abbr> First Name</label><div class="controls"><input required="required" class="string required " id="registration_person_attributes_first_name" name="registration[person_attributes][first_name]" maxlength="1000" aria-required="true" size="1000" type="text" /></div></div>

                </div>
                <br />

                <div class="control_row">
                    <div class="control-group string required registration_person_last_name"><label class="string required control-label" for="registration_person_attributes_last_name"><abbr title="required">*</abbr> Last Name</label><div class="controls"><input required="required" class="string required " id="registration_person_attributes_last_name" name="registration[person_attributes][last_name]" maxlength="1000" aria-required="true" size="1000" type="text" /></div></div>

                </div>
                <br />

                <div class="control_row">
                    <div class="control-group string required registration_person_address"><label class="string required control-label" for="registration_person_attributes_address"><abbr title="required">*</abbr> Address</label><div class="controls"><input required="required" class="string required " id="registration_person_attributes_address" name="registration[person_attributes][address]" maxlength="1000" aria-required="true" size="1000" type="text" /></div></div>

                </div>
                <br />

                <div class="control_row">
                    <div class="control-group string required registration_person_city"><label class="string required control-label" for="registration_person_attributes_city"><abbr title="required">*</abbr> City</label><div class="controls"><input required="required" class="string required " id="registration_person_attributes_city" name="registration[person_attributes][city]" maxlength="1000" aria-required="true" size="1000" type="text" /></div></div>

                </div>
                <br />

                @*<div class="control_row">
        <div class="control-group string required registration_person_state"><label class="string required control-label" for="registration_person_attributes_state"><abbr title="required">*</abbr> State</label><div class="controls"><input required="required" class="string required " id="registration_person_attributes_state" name="registration[person_attributes][state]" maxlength="1000" aria-required="true" size="1000" type="text" /></div></div>*@

                <div class="control_row">
                    <label>State</label>
                    <br />

                    <input name="registration[person_attributes][custom_field_answers][12935][]" type="hidden" value="" /><select class="multi-select required" multiple="multiple" id="registration_person_attributes_custom_field_answers_12935" name="registration[person_attributes][custom_field_answers][12935][]">
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montona</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>
                    </select>

                </div>
                <br />

                <div class="control_row">
                    <div class="control-group string required registration_person_postal_code"><label class="string required control-label" for="registration_person_attributes_postal_code"><abbr title="required">*</abbr> Postal Code</label><div class="controls"><input required="required" class="string required " id="registration_person_attributes_postal_code" name="registration[person_attributes][postal_code]" maxlength="1000" aria-required="true" size="1000" type="text" /></div></div>

                </div>
                <br />

                <div class="control_row">
                    <div class="control-group tel required registration_person_mobile_phone"><label class="tel required control-label" for="registration_person_attributes_mobile_phone"><abbr title="required">*</abbr> Mobile Phone</label><div class="controls"><input required="required" class="string tel required " id="registration_person_attributes_mobile_phone" name="registration[person_attributes][mobile_phone]" maxlength="1000" aria-required="true" type="tel" size="1000" /></div></div>

                </div>
                <br />

                <div class="control_row">
                    <div class="control-group email required registration_person_email"><label class="email required control-label" for="registration_person_attributes_email"><abbr title="required">*</abbr> Email</label><div class="controls"><input required="required" class="string email required " id="registration_person_attributes_email" name="registration[person_attributes][email]" maxlength="1000" aria-required="true" type="email" size="1000" value="" /></div></div>

                </div>
                <br />

                <div class="control_row">
                    <div class="control-group string required registration_person_birthday"><label class="string required control-label" for="registration_person_attributes_birthday"><abbr title="required">*</abbr> Birthday</label><div class="controls"><input required="required" class="string required datepicker" id="registration_person_attributes_birthday" name="registration[person_attributes][birthday]" maxlength="1000" aria-required="true" size="1000" type="text" /></div></div>

                </div>
                <br />

                <div class="control_row">
                    <div class="control-group string required registration_person_custom_field_answers_12938"><label class="string required control-label" for="registration_person_attributes_custom_field_answers_12938"><abbr title="required">*</abbr> Medical Specialty</label><div class="controls"><input required="required" class="string required " id="registration_person_attributes_custom_field_answers_12938" name="registration[person_attributes][custom_field_answers][12938]" maxlength="1000" aria-required="true" size="1000" type="text" /></div></div>

                </div>
                <br />

                <div class="control_row">
                    <label>* What/which state(s) are you licensed to practice in? </label>
                    <br />

                        <input name="registration[person_attributes][custom_field_answers][12935][]" type="hidden" value="" /><select class="multi-select required" multiple="multiple" id="registration_person_attributes_custom_field_answers_12935" name="registration[person_attributes][custom_field_answers][12935][]">
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montona</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                        </select>

                    </div>
                    <br />

                <div class="control_row">
                    <div class="control-group string required registration_person_custom_field_answers_12936"><label class="string required control-label" for="registration_person_attributes_custom_field_answers_12936"><abbr title="required">*</abbr> Professional License Number</label><div class="controls"><input required="required" class="string required " id="registration_person_attributes_custom_field_answers_12936" name="registration[person_attributes][custom_field_answers][12936]" maxlength="1000" aria-required="true" size="1000" type="text" /></div></div>

                </div>
                <br />

                <div class="control_row">
                    <div class="control-group string required registration_person_custom_field_answers_12939"><label class="string required control-label" for="registration_person_attributes_custom_field_answers_12939"><abbr title="required">*</abbr> Professional Alma Mater</label><div class="controls"><input required="required" class="string required " id="registration_person_attributes_custom_field_answers_12939" name="registration[person_attributes][custom_field_answers][12939]" maxlength="1000" aria-required="true" size="1000" type="text" /></div></div>

                </div>
                <br />

                <div class="control_row">
                    <div class="control-group string required registration_person_custom_field_answers_12940"><label class="string required control-label" for="registration_person_attributes_custom_field_answers_12940"><abbr title="required">*</abbr> Year of Graduation</label><div class="controls"><input required="required" class="string required " id="registration_person_attributes_custom_field_answers_12940" name="registration[person_attributes][custom_field_answers][12940]" maxlength="1000" aria-required="true" size="1000" type="text" /></div></div>

                </div>
                <br />

                <p>Please upload an up-to-date CV. We need this for our malpractice insurance. </p>


                <div class="control-group file optional registration_person_person_document_file"><label class="file optional control-label required btn file-btn" for="registration_person_attributes_person_documents_attributes_0_file">Document</label><div class="controls"><input accept="application/pdf,.pdf,.doc,.docx" class="file optional required btn file-btn" id="registration_person_attributes_person_documents_attributes_0_file" name="registration[person_attributes][person_documents_attributes][0][file]" type="file" /></div></div>
                <input id="registration_person_attributes_person_documents_attributes_0_label" name="registration[person_attributes][person_documents_attributes][0][label]" value="Document" type="hidden" />
                <br />

                <input type="submit" name="commit" value="Submit" class="btn btn btn-success btn-lg" data-disable-with="Saving..." style="background-color:cornflowerblue;border:2px cornflowerblue" />
            </form>
        </div>
    </div>

    <!-- Feature image -->
    <div class="grid-50 tablet-grid-50 mobile-grid-100"></div>

    <div id="dialog"></div>
    <footer id="footer" class='full-width ' style='display: none;'>
        <div id='footer-wrapper'>
            <div class='footer-brand clearfix'>
                <h5 class="organization-title-small helvetica"><a href="/dashboard">Surgery on Sunday Louisville</a></h5>

            </div>

            <nav class="footer-navigation helvetica clearfix ">
                <ul class="unstyled unpadded">
                    <li class="footer-li"><a href="/users/sign_in">Sign In</a></li>
                    <li class="footer-li"><a href="/contact">Contact</a></li>
                    <li class="footer-li"><a href="/refund_policy">Refunds</a></li>
                    <li class="footer-li"><a href="/privacy_policy">Privacy</a></li>
                    <li class="footer-li"><a href="/terms_of_use">Terms</a></li>
                </ul>
            </nav>
        </div>
    </footer>

</body>

</html>



