
@{
    ViewBag.Title = "VolunteerCommentForm";
}

<html>

<body>
    <br />
    <br />
    <br />

    <div class="grid-100 clearfix">
        <h1 id="registration_form_title">Volunteer Comment Form</h1>
    </div>


    <h1>
        <span style="color: cornflowerblue; text-align: center; font-size:20px">
            Recently volunteered with SOSL? We love hearing comments
            and feedback from our wonderful volunteers!
        </span>
    </h1>

    <form>
        <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </form>

    <input type="submit" name="commit" value="Submit" class="btn btn btn-success btn-lg"
           data-disable-with="Saving..." style="background-color:cornflowerblue;border:2px cornflowerblue" />


</body>

</html>

