
@{
    ViewBag.Title = "VolunteerCommentForm";
}


<html>

<body>
    <br />


    <div class="grid-100 clearfix">
        <h2 id="registration_form_title">Volunteer Comment Form</h2>
    </div>

    <br />

        <p style="color:rgb(0, 143, 179); text-align: center; font-size:25px;font-style: italic">
            Recently volunteered with SOSL? We love hearing comments
            and feedback from our wonderful volunteers!
        </p>

    <br />

    <form>
        <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="8"></textarea>
        </div>
    </form>

    <button type="button" class="btn btn-info">Submit</button>


</body>

</html>

